@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strange Scout</h1>
    <h2 class="display-4">1533 TripleStrange</h2>
    <p>How to use</p>
    <p>Go to Input and enter round and team #</p>
    <p>Press next and click what the robots do in Auto</p>
    <p>after auto press next same for teleop and end game</p>
    <p>while inputing data during teleop finish inputing data for the cycle before moving on to end game</p>
</div>
